<html>
<hean>
    <META http-equiv=Content-Type content='text/html; charset=GBK'>
    <title>绑定邮箱</title>
</hean>
<body>
    你好，欢迎使用漂流瓶，请点击<a href="${bind_url}">绑定</a>，进行绑定操作
    也可以复制一下链接，进行绑定操作
    <p>${bind_url}</p>
    该邮件${expirationTime}分钟之内有效，如过期请重新绑定！
    谢谢！
</body>
</html>