<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p] [%t] %l - %m%n"/>
        </layout>
    </appender>
    <appender name="errorAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="goku_error.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p] [%t] %l - %m%n"/>
        </layout>
        <!-- 增加日志Filter过滤范围 -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="goku.log"/>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p] [%t] %l - %m%n"/>
        </layout>
        <!-- 增加日志Filter过滤范围 -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="WARN"/>
        </filter>
    </appender>

    <logger name="org.springframework">
        <level value="WARN"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="org.apache.velocity">
        <level value="WARN"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <!-- 根logger的设置 -->
    <root>
        <level value="DEBUG"/>
        <!-- 优先级 -->
        <priority value="debug"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>
</log4j:configuration>