<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <property name="minIdle" value="${redis.minIdle}"/>
    </bean>
    <!--主从哨兵配置-->
    <bean id="redisSentinelConfigurationEX"
          class="com.yongle.goku.utils.redis.RedisSentinelConfigurationEX">
        <constructor-arg value="${redis.host.port}"/>
        <property name="master">
            <bean class="org.springframework.data.redis.connection.RedisNode">
                <property name="name" value="${redis.name}"/>
            </bean>
        </property>
    </bean>
    <!--集群配置-->
    <!--<bean id="redisClusterConfigurationEX"-->
    <!--class="com.yongle.goku.utils.redis.RedisClusterConfigurationEX">-->
    <!--<constructor-arg value="${redis.host.port}"/>-->
    <!--<property name="maxRedirects" value="${redis.maxRedirects}"/>-->
    <!--</bean>-->
    <bean id="jedisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="password" value="${redis.password}"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg ref="redisSentinelConfigurationEX"/>
    </bean>

    <bean id="genericJackson2JsonRedisSerializer"
          class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="hashValueSerializer" ref="genericJackson2JsonRedisSerializer"/>
    </bean>

    <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg name="redisOperations" ref="stringRedisTemplate"/>
        <property name="cacheNames">
            <set>
                <value>default1111</value>
            </set>
        </property>
    </bean>
    <cache:annotation-driven cache-manager="redisCacheManager"/>
</beans>